//- .swipe_page
h1 Swipe Gallery
a.back-link(href='#') Back

h2 Default slider
.gallery_simple(data-view-simple)
.add_element_simple(data-js='add-simple') Добавить элемент

h2 Slider with loop
.gallery_loop(data-view-loop)
.add_element_loop(data-js='add-loop') Добавить элемент

h2 Large slider with navigation
.gallery_big(data-view-big)
