//- .swipe_page
h1 Swipe Gallery
a.back-link(href='#') Back

.gallery_loop(data-view-loop)
.add_element_loop(data-js='add-loop') Добавить элемент

.gallery_simple(data-view-simple)
.add_element_simple(data-js='add-simple') Добавить элемент
