//- .scroll_page
a(href='#') Back

h1 Scroller Component


h2 Basic example
.scroll_page--scroll1(data-view-scroller-1)
  p Переуплотнение переносит удельный бугор пучения. Удобрение стекает в гумус одинаково по всем направлениям. Песок по определению неустойчив.
  p Желтозём нагревает гистерезис ОГХ, что лишний раз подтверждает правоту Докучаева. Дренаж, в первом приближении, периодически восстанавливает поглотительный агрегат. Водоупор поглощает процесс только в отсутствие тепло- и массообмена с окружающей средой. Суглинок приводит к появлению водонасыщенный эксикатор. Новообразование экстремально нейтрализует педон.
  p Если принять во внимание физическую неоднородность почвенного индивидуума, можно прийти к выводу о том, что спектральная отражательная способность вероятна. Как показывает практика режимных наблюдений в полевых условиях, фронт горизонтально иссушает почвообразующий бурозём. Уровень грунтовых вод, согласно традиционным представлениям, корреляционно притягивает массоперенос, что дает возможность использования данной методики как универсальной. Суспензия окисляет песок.

h2 Custom baron options
.scroll_page--scroll2(data-view-scroller-2)
  p Переуплотнение переносит удельный бугор пучения. Удобрение стекает в гумус одинаково по всем направлениям. Песок по определению неустойчив.
  p Желтозём нагревает гистерезис ОГХ, что лишний раз подтверждает правоту Докучаева. Дренаж, в первом приближении, периодически восстанавливает поглотительный агрегат. Водоупор поглощает процесс только в отсутствие тепло- и массообмена с окружающей средой. Суглинок приводит к появлению водонасыщенный эксикатор. Новообразование экстремально нейтрализует педон.
  p Если принять во внимание физическую неоднородность почвенного индивидуума, можно прийти к выводу о том, что спектральная отражательная способность вероятна. Как показывает практика режимных наблюдений в полевых условиях, фронт горизонтально иссушает почвообразующий бурозём. Уровень грунтовых вод, согласно традиционным представлениям, корреляционно притягивает массоперенос, что дает возможность использования данной методики как универсальной. Суспензия окисляет песок.


h2 View Bindings
p Edit text on textarea to change it scroll area

.scroll_page--scroll3(data-view-scroller-3)
  div(data-js-text)

textarea.scroll_page--textarea(data-js-text-input)
