extends _base

//-block head
//-block title

block content
  include _layout
  #templates
    include _page
    include _modal
    include _widget
    include _list
    script#ScrollerComponent(type='text/template')
      include  ../bower_components/snp-component-scroll/lib/ScrollerComponent
    script#SwipeGalleryComponent(type='text/template')
      include  ../bower_components/snp-component-swipegallery/lib/SwipeGalleryComponent
