//- .index_page
h1 Components examples

ul.list.index_page--ul
  li.index_page--li: a(href='#!/scroll') Scroller Component
  li.index_page--li: a(href='#!/list') List Component
  li.index_page--li: a(href='#!/swipe') Swipe Gallery Component
